<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="fa fa-arrow-left" style="font-size: 22px"></span>
    <span *ngIf="router.url === '/app-dashboard'; else EmptySpace">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand">Appointments</a>
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fa-solid fa-location-dot"></i>
              Location
              <i class="fa-solid fa-angle-down"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-stethoscope"></i>
              Dr.Alex
              <i class="fa-solid fa-angle-down"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-regular fa-circle-dot" id="icon1"></i>
              New Appointment
            </a>
          </li>
        </ul>
      </div>
    </span>

    <ng-template #EmptySpace>
      <span *ngIf="router.url === '/app-settings-tab'" class="nav-heading">Settings</span>
      <span *ngIf="router.url === '/app-patients-tab'" class="nav-heading">Patients</span>
      <span *ngIf="router.url === '/app-chatrooms-tab'" class="nav-heading">Messages</span>
    </ng-template>

    <!-- dropdown  -->
    <div class="d-flex">
      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle"
          
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{userClaims.Name }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Status : Online</a></li>
          <hr />
          <li>
            <a class="dropdown-item" href="app-settings-tab">Account Setting</a>
          </li>
          <hr />
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <hr />
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <img
        src="https://images.tribuneindia.com/cms/gall_content/2019/4/2019_4$largeimg15_Monday_2019_083425749.jpg"
        alt="Avatar"
      />
    </div>
    <!-- <div class="d-flex" id="profiledropdown">
      <div>
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user.Name }}
        </a>
      </div>
      <div class="dropdown">
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Status : Online</a></li>

          <li>
            <a class="dropdown-item" href="app-settings-tab">Account Setting</a>
          </li>

          <li><a class="dropdown-item" href="#">Profile</a></li>

          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <div>
        <img
          src="https://images.tribuneindia.com/cms/gall_content/2019/4/2019_4$largeimg15_Monday_2019_083425749.jpg"
          alt="Avatar"
          id="avatar"
        />
      </div>
    </div> -->
  </div>
</nav>
